<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ username }}</title>
</head>
<body>
    <h1>{{username}}'s Profile</h1>
    <h2>Pokédexes</h2>
    {% if is_own_profile %}
    <button onclick="window.location.href='/add-dex';">Add Pokédex</button>
    {% endif %}
    <div>
        {% for pokedex in pokedexes %}
        <a href="/dex/{{username}}/{{pokedex.id}}">
            <img src="{{ pokedex.thumbnail_url }}" alt="thumb">
            <div>
                <h3>{{pokedex.name}}</h3>
                <p>{{ pokedex.description }}</p>
                <progress value="{{ pokedex.collected }}" max="{{ pokedex.num_entries }}">{{ pokedex.collected }}/{{ pokedex.num_entries }}</progress>
            </div>
        </a>
        {% endfor %}
    </div>
</body>
</html>